@charset "UTF-8";
.grid3col {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	row-gap: 16px;
}
.grid3col .box {
	background-color: #f3f6f9;
	display: grid;
	justify-items: center;
	padding: 25px 0;
}
@media (min-width: 600px) {
	.grid3col {
		grid-template-columns: repeat(2, 1fr);
		-webkit-column-gap: 20px;
		-moz-column-gap: 20px;
		column-gap: 20px;
	}
}
@media (min-width: 768px) {
	.grid3col {
		-webkit-column-gap: 30px;
		-moz-column-gap: 30px;
		column-gap: 30px;
		row-gap: 32px;
	}
}
@media (min-width: 1024px) {
	.grid3col {
		grid-template-columns: repeat(3, 1fr);
		-webkit-column-gap: 40px;
		-moz-column-gap: 40px;
		column-gap: 40px;
	}
}

.grid2col {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	row-gap: 16px;
}
.grid2col .box {
	background-color: #f3f6f9;
	display: grid;
	justify-items: center;
	padding: 25px 0;
}
@media (min-width: 600px) {
	.grid2col {
		grid-template-columns: repeat(2, 1fr);
		-webkit-column-gap: 20px;
		-moz-column-gap: 20px;
		column-gap: 20px;
	}
}
@media (min-width: 768px) {
	.grid2col {
		-webkit-column-gap: 30px;
		-moz-column-gap: 30px;
		column-gap: 30px;
		row-gap: 32px;
	}
}
@media (min-width: 1024px) {
	.grid2col {
		-webkit-column-gap: 40px;
		-moz-column-gap: 40px;
		column-gap: 40px;
	}
}

.grid2_1 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	row-gap: 16px;
}
.grid2_1 .box {
	background-color: #f3f6f9;
	display: grid;
	justify-items: center;
	padding: 25px 0;
}
@media (min-width: 600px) {
	.grid2_1 .box:nth-child(3) {
		grid-column: 1 / span 2;
		grid-row: 2;
	}
}
@media (min-width: 600px) {
	.grid2_1 {
		grid-template-columns: repeat(2, 1fr);
		-webkit-column-gap: 20px;
		-moz-column-gap: 20px;
		column-gap: 20px;
	}
}
@media (min-width: 768px) {
	.grid2_1 {
		-webkit-column-gap: 30px;
		-moz-column-gap: 30px;
		column-gap: 30px;
		row-gap: 32px;
	}
}
@media (min-width: 1024px) {
	.grid2_1 {
		-webkit-column-gap: 40px;
		-moz-column-gap: 40px;
		column-gap: 40px;
	}
}

.grid1_2 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	row-gap: 16px;
}
.grid1_2 .box {
	background-color: #f3f6f9;
	display: grid;
	justify-items: center;
	padding: 25px 0;
}
@media (min-width: 600px) {
	.grid1_2 .box:nth-child(1) {
		grid-column: 1 / span 2;
		grid-row: 1;
	}
}
@media (min-width: 600px) {
	.grid1_2 {
		grid-template-columns: repeat(2, 1fr);
		-webkit-column-gap: 20px;
		-moz-column-gap: 20px;
		column-gap: 20px;
	}
}
@media (min-width: 768px) {
	.grid1_2 {
		-webkit-column-gap: 30px;
		-moz-column-gap: 30px;
		column-gap: 30px;
		row-gap: 32px;
	}
}
@media (min-width: 1024px) {
	.grid1_2 {
		-webkit-column-gap: 40px;
		-moz-column-gap: 40px;
		column-gap: 40px;
	}
}

.grid_row .box {
	background-color: #f3f6f9;
	display: grid;
}
.grid_row .box:not(:first-child) {
	display: none;
}
@media (min-width: 600px) {
	.grid_row {
		display: grid;
		grid-template-columns: 1.5fr 1fr;
		gap: 16px;
	}
	.grid_row .box:nth-child(1) {
		grid-column: 1;
		grid-row: 1/3;
	}
	.grid_row .box:not(:first-child) {
		display: grid;
	}
}
@media (min-width: 768px) {
	.grid_row {
		-webkit-column-gap: 30px;
		-moz-column-gap: 30px;
		column-gap: 30px;
		row-gap: 32px;
	}
}
@media (min-width: 1024px) {
	.grid_row {
		-webkit-column-gap: 40px;
		-moz-column-gap: 40px;
		column-gap: 40px;
	}
}

.banner {
	background-color: #f3f6f9;
	padding-top: 48px;
	padding-bottom: 34px;
}
@media (min-width: 1366px) {
	.banner {
		padding-bottom: 0;
	}
}
@media (min-width: 1024px) {
	.banner__wrapper {
		position: relative;
	}
}
.banner__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 125%;
	max-width: 550px;
	margin-bottom: 16px;
}
@media (min-width: 600px) {
	.banner__title {
		font-size: 36px;
	}
}
@media (min-width: 1024px) {
	.banner__title {
		font-size: 48px;
	}
}
@media (min-width: 1366px) {
	.banner__title {
		padding-top: 67px;
		margin-bottom: 26px;
	}
}
.banner__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 145%;
	color: #485b63;
	max-width: 447px;
}
.banner__inner,
.banner__inner1 {
	margin-top: 32px;
	margin-bottom: 32px;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}
@media (min-width: 1024px) {
	.banner__inner,
	.banner__inner1 {
		border-radius: 25px;
		position: absolute;
		right: 0;
		top: 0;
		margin: 0;
		max-width: 400px;
	}
}
@media (min-width: 1366px) {
	.banner__inner,
	.banner__inner1 {
		max-width: 660px;
	}
}
@media (min-width: 1024px) {
	.banner .btn {
		max-width: 273px;
		margin-top: 15px;
	}
}
@media (min-width: 1366px) {
	.banner .btn {
		margin-top: 56px;
		margin-bottom: 116px;
	}
}
.banner__mainpage {
	padding-bottom: 0;
}
@media (min-width: 1024px) {
	.banner__mainpage .banner__title {
		margin-top: 97px;
		margin-bottom: 26px;
	}
}
.banner__mainpage .banner__wrapper {
	position: relative;
}
.banner__mainpage .banner__wrapper-img img {
	margin: 0 auto;
}
@media (min-width: 1366px) {
	.banner__mainpage .banner__wrapper-img img {
		-o-object-fit: cover;
		object-fit: cover;
		height: 100%;
	}
}
@media (min-width: 1440px) {
	.banner__mainpage .banner__wrapper-img {
		margin-right: 105px;
	}
}
@media (min-width: 1024px) {
	.banner__mainpage .banner__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}
.banner__mainpage .btn {
	position: absolute;
	bottom: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
@media (min-width: 1024px) {
	.banner__mainpage .btn {
		position: relative;
		bottom: 0;
		max-width: 237px;
		margin-top: 36px;
	}
}
@media (min-width: 1123px) {
	.banner__mainpage .btn {
		margin-top: 56px;
	}
}
.banner__mainpage .btn img {
	margin-right: 8px;
}
@media (min-width: 1024px) {
	.banner__mainpage {
		padding-top: 0;
	}
}
.banner__video .play {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(17, 17, 17, 0.3)), to(rgba(17, 17, 17, 0.3)));
	background-image: -o-linear-gradient(bottom, rgba(17, 17, 17, 0.3), rgba(17, 17, 17, 0.3));
	background-image: linear-gradient(0deg, rgba(17, 17, 17, 0.3), rgba(17, 17, 17, 0.3));
}
.banner__video .play__btn {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: rgba(84, 183, 227, 0.7);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.banner__video .play__btn:hover {
	background-color: rgba(84, 183, 227, 0.95);
}
@media (min-width: 768px) {
	.banner__video .play__btn {
		width: 150px;
		height: 150px;
	}
}
@media (min-width: 1024px) {
	.banner__video .play__btn {
		width: 60px;
		height: 60px;
	}
}
@media (min-width: 1366px) {
	.banner__video .play__btn {
		width: 150px;
		height: 150px;
	}
}
.banner__video .play__btn-triangle {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 18px solid #fcfdff;
	margin-left: 5px;
}
@media (min-width: 768px) {
	.banner__video .play__btn-triangle {
		border-top: 26px solid transparent;
		border-bottom: 26px solid transparent;
		border-left: 45px solid #fcfdff;
		margin-left: 15px;
	}
}
@media (min-width: 1024px) {
	.banner__video .play__btn-triangle {
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 18px solid #fcfdff;
		margin-left: 5px;
	}
}
@media (min-width: 1366px) {
	.banner__video .play__btn-triangle {
		border-top: 26px solid transparent;
		border-bottom: 26px solid transparent;
		border-left: 45px solid #fcfdff;
		margin-left: 15px;
	}
}
@media (min-width: 768px) {
	.banner__video .play {
		background: transparent;
	}
}
.banner__simple {
	min-height: 400px;
}
.banner__simple .banner__wrapper {
	min-height: 400px;
}
@media screen and (min-width: 1024px) {
	.banner__simple .banner__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
@media screen and (min-width: 1366px) {
	.banner__simple .banner__wrapper {
		min-height: 551px;
	}
}
.banner__simple .banner__title {
	max-width: 700px;
}
@media (min-width: 1024px) {
	.banner__simple .banner__title {
		padding-top: 0;
		position: relative;
		z-index: 1;
	}
}
.banner__simple .banner__text {
	max-width: 539px;
}
@media (min-width: 1024px) {
	.banner__simple .banner__text {
		position: relative;
		z-index: 1;
	}
}
.banner__simple .banner__inner img {
	width: 100%;
	height: 100%;
}
@media (min-width: 1024px) {
	.banner__simple .banner__inner {
		width: calc(60% + 40px);
		bottom: 0px;
		top: 0px;
		margin-right: -40px;
		border-radius: 0;
		max-width: 100%;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
	}
	.banner__simple .banner__inner::after {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-image: -o-linear-gradient(359.23deg, #f3f6f9 16%, rgba(243, 246, 249, 0) 60%);
		background-image: linear-gradient(90.77deg, #f3f6f9 16%, rgba(243, 246, 249, 0) 60%);
	}
}
@media (min-width: 1366px) {
	.banner__simple .banner__inner {
		bottom: 0;
	}
}
@media screen and (min-width: 1440px) {
	.banner__simple .banner__inner {
		margin-right: -80px;
		width: calc(60% + 80px);
	}
}
@media screen and (min-width: 1024px) {
	.banner__simple .banner__btn {
		margin-bottom: 0;
	}
}
@media (min-width: 1024px) {
	.banner__simple {
		padding: 0;
	}
}
@media (min-width: 1366px) {
	.banner__simple {
		min-height: 551px;
	}
}
.banner__articles {
	min-height: 400px;
}
.banner__articles .banner__wrapper {
	min-height: 400px;
}
@media screen and (min-width: 1024px) {
	.banner__articles .banner__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
@media screen and (min-width: 1366px) {
	.banner__articles .banner__wrapper {
		min-height: 609px;
	}
}
.banner__articles .banner__wrapper-content {
	width: 100%;
	position: relative;
}
.banner__articles-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 16px;
	-moz-column-gap: 16px;
	column-gap: 16px;
	font-weight: 400;
	font-size: 13px;
	line-height: 145%;
	color: #a2acb1;
	margin-bottom: 16px;
}
@media (min-width: 1024px) {
	.banner__articles-info {
		margin-left: 183px;
	}
}
@media (min-width: 1366px) {
	.banner__articles-info {
		margin-bottom: 0;
	}
}
.banner__articles-info .info__view {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 4px;
	-moz-column-gap: 4px;
	column-gap: 4px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.banner__articles .banner__title {
	max-width: 711px;
}
@media (min-width: 600px) {
	.banner__articles .banner__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 130%;
	}
}
@media (min-width: 1024px) {
	.banner__articles .banner__title {
		max-width: 450px;
	}
}
@media (min-width: 1366px) {
	.banner__articles .banner__title {
		max-width: 644px;
		padding-top: 34px;
		margin-bottom: 0;
	}
}
.banner__articles-author {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 14px;
	-moz-column-gap: 14px;
	column-gap: 14px;
}
.banner__articles-author .author__avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.banner__articles-author .author__name {
	font-weight: 400;
	font-size: 14px;
	line-height: 145%;
	color: #485b63;
}
@media (min-width: 1024px) {
	.banner__articles-author {
		position: absolute;
		top: -10px;
	}
}
.banner__articles .banner__inner {
	margin-top: 24px;
	margin-bottom: 24px;
}
.banner__articles .banner__inner img {
	width: 100%;
}
@media screen and (min-width: 1024px) {
	.banner__articles .banner__inner img {
		max-width: none;
		width: auto;
	}
}
@media (min-width: 1024px) {
	.banner__articles .banner__inner {
		right: 0;
		margin: 0;
		bottom: calc((400px - 100%) / -2);
		top: calc((400px - 100%) / -2);
		max-width: calc(50% + 40px);
		margin-right: -40px;
		border-radius: 0;
	}
}
@media (min-width: 1366px) {
	.banner__articles .banner__inner {
		bottom: calc((609px - 100%) / -2);
		top: calc((609px - 100%) / -2);
	}
}
@media screen and (min-width: 1440px) {
	.banner__articles .banner__inner {
		max-width: calc(50% + 80px);
		margin-right: -80px;
	}
}
@media (min-width: 1024px) {
	.banner__articles .btn {
		max-width: 196px;
	}
}
@media (min-width: 1366px) {
	.banner__articles .btn {
		margin-top: 32px;
		margin-bottom: 0px;
	}
}
@media (min-width: 1024px) {
	.banner__articles {
		padding-top: 0;
		padding-bottom: 0;
	}
}
@media (min-width: 1366px) {
	.banner__articles {
		min-height: 609px;
	}
}
.banner__help-wrapper {
	background-color: #f3f6f9;
	padding: 24px 24px 0;
}
@media (min-width: 1024px) {
	.banner__help-wrapper {
		padding-left: 70px;
		padding-right: 70px;
		padding-top: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}
.banner__help-content {
	max-width: 498px;
}
.banner__help-title {
	font-weight: 600;
	font-size: 22px;
	line-height: 130%;
	margin-bottom: 24px;
}
@media (min-width: 1024px) {
	.banner__help-title {
		font-weight: 700;
		font-size: 36px;
		line-height: 130%;
		margin-top: 24px;
	}
}
@media (min-width: 1366px) {
	.banner__help-title {
		margin-top: 56px;
	}
}
.banner__help-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 145%;
	margin-bottom: 10px;
}
@media (min-width: 1024px) {
	.banner__help-text {
		margin-bottom: 24px;
	}
}
.banner__help-btn {
	display: none;
}
@media (min-width: 1024px) {
	.banner__help-btn {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-column-gap: 8px;
		-moz-column-gap: 8px;
		column-gap: 8px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		font-weight: 500;
		font-size: 16px;
		line-height: 145%;
		color: #54b7e3;
	}
}
.banner__help-btn:hover path {
	stroke: #0e8ec7;
}
.banner__help-img img {
	margin: 0 auto;
}

@media (min-width: 1024px) {
	.feedback__slider-wrapper.mobile {
		display: none;
	}
}
.feedback__slider-wrapper.desktop {
	display: none;
}
@media (min-width: 1024px) {
	.feedback__slider-wrapper.desktop {
		display: block;
	}
}
.feedback__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 125%;
	margin-bottom: 24px;
}
@media (min-width: 768px) {
	.feedback__title {
		font-weight: 700;
		font-size: 48px;
		line-height: 135%;
		margin-bottom: 38px;
	}
}
.feedback__filter {
	display: none;
}
@media (min-width: 1024px) {
	.feedback__filter {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-column-gap: 17px;
		-moz-column-gap: 17px;
		column-gap: 17px;
		overflow-x: scroll;
		margin-bottom: 32px;
	}
	.feedback__filter::-webkit-scrollbar {
		height: 0;
	}
}
.feedback__filter-item {
	white-space: nowrap;
	font-weight: 400;
	font-size: 16px;
	line-height: 145%;
	padding: 14px 20px;
	border-radius: 5px;
	background-color: #f8f8f8;
}
.feedback__filter-item.active {
	background-color: #54b7e3;
	color: #fcfdff;
}
.feedback__slider-item.box {
	background-color: #f3f6f9;
	padding: 24px 16px 40px;
	border-radius: 10px;
	height: auto;
	margin-bottom: 42px;
}
@media (min-width: 1024px) {
	.feedback__slider-item.box {
		padding: 0;
	}
}
.feedback__slider-item__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 24px;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: end;
}
@media (min-width: 1024px) {
	.feedback__slider-item__info {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
.feedback__info-user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 16px;
	-moz-column-gap: 16px;
	column-gap: 16px;
}
.feedback__info-user__avatar {
	width: 69px;
	height: 69px;
	border-radius: 50%;
}
.feedback__info-user__name {
	font-weight: 600;
	font-size: 16px;
	line-height: 145%;
}
.feedback__info-user__date {
	font-weight: 500;
	font-size: 16px;
	line-height: 145%;
	color: #485b63;
	margin-bottom: 8px;
}
.feedback__info-user__rating img {
	display: inline-block;
}
@media (min-width: 1024px) {
	.feedback__slider-item:not(:first-child) {
		padding: 20px 24px 24px 24px;
	}
	.feedback__slider-item:not(:first-child) .feedback__slider-item__title {
		margin-bottom: 13px;
		margin-top: 16px;
	}
}
@media (min-width: 1366px) {
	.feedback__slider-item:not(:first-child) .feedback__info-user__date,
	.feedback__slider-item:not(:first-child) .feedback__info-user__rating {
		display: inline;
	}
	.feedback__slider-item:not(:first-child) .feedback__info-user__rating {
		margin-left: 25px;
	}
	.feedback__slider-item:not(:first-child) .feedback__slider-item__info,
	.feedback__slider-item:not(:first-child) .feedback__info-user {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.feedback__slider-item:not(:first-child) .feedback__info-social {
		margin-top: 10px;
	}
	.feedback__slider-item:not(:first-child) .feedback__slider-item__info {
		margin-bottom: 0;
	}
}
@media (min-width: 1024px) {
	.feedback__slider-item:nth-child(1).box {
		display: block;
		padding: 24px 24px 0 24px;
	}
	.feedback__slider-item:nth-child(1).box .feedback__slider-item__title {
		font-weight: 600;
		font-size: 26px;
		line-height: 145%;
	}
	.feedback__slider-item:nth-child(1).box .feedback__info-user__avatar {
		width: 100px;
		height: 100px;
	}
	.feedback__slider-item:nth-child(1).box .feedback__info-user {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
@media (min-width: 1024px) {
	.feedback__slider-item:nth-child(2).box {
		margin-bottom: 0;
	}
}
.feedback__slider-item__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 145%;
	margin-bottom: 16px;
}
.feedback__slider-item__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 145%;
	margin-bottom: 20px;
}
.feedback__slider-item__btn {
	margin-right: auto;
	font-weight: 400;
	font-size: 16px;
	line-height: 145%;
	color: #54b7e3;
	border-bottom: 1px solid #54b7e3;
}
.feedback__slider-item__btn:hover {
	color: #0e8ec7;
	border-bottom: 1px solid #0e8ec7;
}
.feedback__slider-btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 145%;
	color: #7f9097;
	display: none;
	margin-left: auto;
	margin-top: 29px;
}
.feedback__slider-btn svg {
	margin-left: 8px;
}
.feedback__slider-btn:hover {
	color: #0b2128;
}
.feedback__slider-btn:hover path {
	stroke: #0b2128;
}
@media (min-width: 1024px) {
	.feedback__slider-btn {
		display: block;
	}
}

.feedback__wrapper {
	position: relative;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	width: 20px;
	border-radius: 10px;
	background-color: #54b7e3;
}

@media (min-width: 1024px) {
	.feedback .swiper {
		border-bottom: 1px solid #dddddd;
		position: static;
	}
}

.swiper-pagination-bullets.swiper-pagination-horizontal.desktop {
	bottom: auto;
	-moz-text-align-last: left;
	text-align-last: left;
	margin-left: -4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 7px;
	-moz-column-gap: 7px;
	column-gap: 7px;
	width: auto;
}
.swiper-pagination-bullets.swiper-pagination-horizontal.desktop .swiper-pagination-bullet {
	margin: 0;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: transparent;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 145%;
	color: #0b2128;
	opacity: 1;
}
.swiper-pagination-bullets.swiper-pagination-horizontal.desktop .swiper-pagination-bullet-active {
	color: #fcfdff;
	background-color: #54b7e3;
}

.advantage__wrapper {
	gap: 0;
}
@media (min-width: 600px) {
	.advantage__wrapper {
		border-top: 1px solid #dbdbdb;
	}
}
.advantage__wrapper-item {
	padding-top: 32px;
	padding-bottom: 32px;
	border-bottom: 1px solid #dbdbdb;
}
@media (min-width: 1024px) {
	.advantage__wrapper-item {
		padding-top: 80px;
	}
}
@media (min-width: 1366px) {
	.advantage__wrapper-item {
		padding-bottom: 127px;
	}
}
@media (min-width: 600px) {
	.advantage__wrapper-item:nth-child(even) {
		border-left: 1px solid #dbdbdb;
		padding-left: 20px;
	}
}
@media (min-width: 1024px) {
	.advantage__wrapper-item:nth-child(even) {
		padding-left: 64px;
	}
}
@media (min-width: 1366px) {
	.advantage__wrapper-item:nth-child(even) {
		padding-left: 128px;
	}
}
@media (min-width: 600px) {
	.advantage__wrapper-item:nth-child(odd) {
		padding-right: 20px;
	}
}
@media (min-width: 1024px) {
	.advantage__wrapper-item:nth-child(odd) {
		padding-right: 64px;
	}
}
@media (min-width: 1366px) {
	.advantage__wrapper-item:nth-child(odd) {
		padding-right: 128px;
	}
}
.advantage__item-title {
	margin-bottom: 16px;
	font-weight: 700;
	font-size: 24px;
	line-height: 125%;
}
@media (min-width: 768px) {
	.advantage__item-title {
		font-weight: 700;
		font-size: 36px;
		line-height: 130%;
	}
}
@media (min-width: 1366px) {
	.advantage__item-title {
		font-weight: 700;
		font-size: 48px;
		line-height: 130%;
	}
}
.advantage__item-text {
	font-weight: 500;
	font-size: 16px;
	line-height: 145%;
}
@media (min-width: 768px) {
	.advantage__item-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 145%;
	}
}

.partners {
	display: none;
}
.partners__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 98px;
	-moz-column-gap: 98px;
	column-gap: 98px;
	padding: 0 40px;
	overflow-x: scroll;
}
.partners__wrapper::-webkit-scrollbar {
	height: 0;
}
.partners__wrapper-item img {
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
}
@media (min-width: 768px) {
	.partners {
		display: block;
	}
}

.footer {
	margin-top: 72px;
}
.footer__top-communication {
	border-top: 1px solid #dddddd;
}
.footer__callus {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
@media (min-width: 1024px) {
	.footer__callus {
		display: none;
	}
}
.footer__callus a {
	font-weight: 400;
	font-size: 22px;
	line-height: 145%;
	margin-bottom: 6px;
}
.footer__callus span {
	font-weight: 400;
	font-size: 16px;
	line-height: 145%;
	color: #979b9d;
	margin-bottom: 29px;
}
.footer__communication {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
@media (min-width: 1024px) {
	.footer__communication {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}
.footer__communication a:nth-child(1),
.footer__communication a:nth-child(2),
.footer__communication a:nth-child(6) {
	display: none;
}
@media (min-width: 1024px) {
	.footer__communication a:nth-child(1),
	.footer__communication a:nth-child(2),
	.footer__communication a:nth-child(6) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}
.footer__communication a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 24px;
	border-bottom: 1px solid #dddddd;
	font-weight: 400;
	font-size: 16px;
	line-height: 145%;
	color: #979b9d;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.footer__communication a svg:nth-child(2) {
	margin-left: auto;
}
@media (min-width: 1024px) {
	.footer__communication a svg:nth-child(2) {
		display: none;
	}
}
.footer__communication a svg:nth-child(1) {
	margin-right: 10px;
}
.footer__communication a:hover {
	color: #0e8ec7;
}
.footer__communication a:hover svg:nth-child(1) path {
	fill: #0e8ec7;
}
.footer__communication a:hover svg:nth-child(2) path {
	stroke: #0e8ec7;
}
@media (min-width: 1024px) {
	.footer__communication a {
		padding-top: 30px;
		padding-bottom: 30px;
		border: none;
		font-weight: 400;
		font-size: 14px;
		line-height: 145%;
		color: #0b2128;
	}
	.footer__communication a:not(:last-child) path {
		fill: #0b2128;
	}
	.footer__communication a:last-child:hover svg path {
		stroke: #0e8ec7;
		fill: none;
	}
}
@media (min-width: 1024px) {
	.footer__bottom-category {
		background-color: #f3f6f9;
	}
}
@media (min-width: 1024px) {
	.footer__bottom-category__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-column-gap: 50px;
		-moz-column-gap: 50px;
		column-gap: 50px;
	}
}
@media (min-width: 1366px) {
	.footer__bottom-category__wrapper {
		-webkit-column-gap: 82px;
		-moz-column-gap: 82px;
		column-gap: 82px;
	}
}
.footer__category-item {
	cursor: pointer;
}
.footer__category-item:not(:last-child) .footer__category-item__title {
	border-bottom: 1px solid #dddddd;
}
@media (min-width: 1024px) {
	.footer__category-item:not(:last-child) .footer__category-item__title {
		border: none;
	}
}
.footer__category-item__title {
	padding-top: 25px;
	padding-bottom: 24px;
	font-weight: 400;
	font-size: 16px;
	line-height: 145%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}
.footer__category-item__title::after {
	position: absolute;
	content: url('../images/icons/arrow-footer-down.svg');
	right: 0;
}
.footer__category-item__title.rotate::after {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
@media (min-width: 1024px) {
	.footer__category-item__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 145%;
		padding-top: 50px;
		padding-bottom: 6px;
	}
	.footer__category-item__title::after {
		display: none;
	}
}
.footer__category-item__list {
	max-height: 0px;
	overflow-y: hidden;
	-webkit-transition: max-height 0.5s linear;
	-o-transition: max-height 0.5s linear;
	transition: max-height 0.5s linear;
}
@media (min-width: 1024px) {
	.footer__category-item__list {
		max-height: 100%;
		margin-bottom: 79px;
	}
}
.footer__category-item__list.dropdown {
	max-height: 500px;
	-webkit-transition: max-height 0.5s linear;
	-o-transition: max-height 0.5s linear;
	transition: max-height 0.5s linear;
}
.footer__category-item__list li:last-child a {
	border-bottom: 1px solid #dddddd;
}
@media (min-width: 1024px) {
	.footer__category-item__list li:last-child a {
		border: none;
	}
}
.footer__category-item__list a {
	margin-top: 16px;
	margin-bottom: 16px;
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 145%;
	color: #485b63;
}
.footer__category-item__list a:hover {
	color: #0e8ec7;
}
.footer__bottom-info {
	background-color: #f3f6f9;
	padding-top: 50px;
}
@media (min-width: 768px) {
	.footer__bottom-info {
		padding-top: 0px;
	}
}
.footer__bottom-info__title {
	font-weight: 400;
	font-size: 14px;
	line-height: 145%;
}
@media (min-width: 768px) {
	.footer__bottom-info__title {
		padding-top: 30px;
	}
}
@media (min-width: 1024px) {
	.footer__bottom-info__title {
		border-top: 1px solid #dddddd;
	}
}
.footer__bottom-info__text {
	font-weight: 400;
	font-size: 14px;
	line-height: 145%;
	margin-top: 16px;
	margin-bottom: 16px;
	max-width: 594px;
	color: #485b63;
}
.footer__bottom-info__time {
	padding-bottom: 30px;
	border-bottom: 1px solid #dddddd;
}
.footer__bottom-info__time span {
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 145%;
	color: #0e8ec7;
}
.footer__bottom-info__time span:first-child {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 6px;
}
.footer__bottom-info__time span:first-child img {
	margin-right: 8px;
}
.footer__bottom-copyright {
	background-color: #f3f6f9;
	padding: 30px 0;
}
@media (min-width: 768px) {
	.footer__bottom-copyright {
		padding-top: 44px;
	}
}
.footer__bottom-copyright span {
	font-weight: 400;
	font-size: 14px;
	line-height: 145%;
	color: #485b63;
}
.footer__bottom-copyright span:last-child {
	display: none;
}
@media (min-width: 768px) {
	.footer__bottom-copyright span:last-child {
		display: inline;
		margin-left: 59px;
	}
}

.accounting__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 125%;
}
@media (min-width: 1024px) {
	.accounting__title {
		font-weight: 700;
		font-size: 48px;
		line-height: 135%;
	}
}
.accounting__wrapper {
	margin-top: 32px;
}
@media (min-width: 768px) {
	.accounting__wrapper {
		padding-top: 56px;
		padding-bottom: 56px;
		border-top: 1px solid #dddddd;
		border-bottom: 1px solid #dddddd;
	}
}
@media (min-width: 1024px) {
	.accounting__wrapper {
		margin-top: 38px;
	}
}
@media (min-width: 768px) {
	.accounting__wrapper-item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.accounting__wrapper-item:not(:first-child) {
		margin-top: 40px;
	}
}
@media (min-width: 1024px) {
	.accounting__wrapper-item:not(:first-child) {
		margin-top: 70px;
	}
}
.accounting__item-title {
	margin-top: 32px;
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	font-weight: 700;
	position: relative;
	margin-bottom: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.accounting__item-title .number_in_circle {
	min-width: 40px;
	min-height: 40px;
	margin-right: 8px;
	background: #f3f6f9;
	border-radius: 50%;
	font-weight: 300;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 18px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #0e8ec7;
}
@media (min-width: 768px) {
	.accounting__item-title {
		margin: 0;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		margin-right: 10px;
	}
}
@media (min-width: 1024px) {
	.accounting__item-title {
		font-weight: 600;
		font-size: 32px;
		line-height: 130%;
	}
	.accounting__item-title .number_in_circle {
		min-width: 90px;
		min-height: 90px;
		font-size: 36px;
		margin-right: 28px;
	}
}
.accounting__item-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 145%;
	color: #485b63;
}
@media (min-width: 768px) {
	.accounting__item-text {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		margin-left: 10px;
		font-size: 13px;
		line-height: 16px;
	}
}
@media (min-width: 1024px) {
	.accounting__item-text {
		font-weight: 500;
		font-size: 16px;
		line-height: 145%;
	}
}

.formfeedback {
	text-align: center;
}
.formfeedback__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 125%;
	margin-bottom: 32px;
	max-width: 660px;
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 1024px) {
	.formfeedback__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 130%;
		margin-bottom: 16px;
	}
}
@media (min-width: 1366px) {
	.formfeedback__title {
		font-weight: 700;
		font-size: 48px;
		line-height: 125%;
		max-width: 956px;
	}
}
.formfeedback__timeanswer {
	display: none;
}
@media (min-width: 660px) {
	.formfeedback__timeanswer {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		gap: 10px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-bottom: 33px;
	}
}
.formfeedback__tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 20px;
	max-width: 620px;
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 660px) {
	.formfeedback__tabs {
		gap: 0px;
		margin-bottom: 24px;
	}
}
.formfeedback__tabs-item {
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 18px 24px 20px;
	border-radius: 10px;
	border: 1px solid #ccd1d4;
	font-weight: 500;
	font-size: 14px;
	line-height: 145%;
	color: #485b63;
}
@media (max-width: 375px) {
	.formfeedback__tabs-item {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (min-width: 660px) {
	.formfeedback__tabs-item {
		padding: 18px 0px;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		border-radius: 0;
	}
	.formfeedback__tabs-item:first-child {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	.formfeedback__tabs-item:last-child {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}
.formfeedback__tabs-item svg {
	margin-right: 8px;
}
.formfeedback__tabs-item svg path {
	fill: #485b63;
}
.formfeedback__tabs-item:hover {
	border-color: #0e8ec7;
	color: #0b2128;
}
.formfeedback__tabs-item:hover path {
	fill: #0b2128;
}
.formfeedback__tabs-item.active {
	color: #fcfdff;
	background: #54b7e3;
	border-color: #54b7e3;
}
.formfeedback__tabs-item.active path {
	fill: #fcfdff;
}
.formfeedback__form {
	display: none;
	max-width: 620px;
}
@media (min-width: 660px) {
	.formfeedback__form {
		margin-left: auto;
		margin-right: auto;
	}
}
.formfeedback__form.active {
	display: block;
}
.formfeedback__form input {
	padding: 19px 0 19px 26px;
	border-radius: 10px;
	border: 1px solid #ccd1d4;
	width: 100%;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 145%;
}
.formfeedback__form input::-webkit-input-placeholder {
	color: #979b9d;
}
.formfeedback__form input::-moz-placeholder {
	color: #979b9d;
}
.formfeedback__form input:-ms-input-placeholder {
	color: #979b9d;
}
.formfeedback__form input::-ms-input-placeholder {
	color: #979b9d;
}
.formfeedback__form input::placeholder {
	color: #979b9d;
}
.formfeedback__form input:focus {
	border: 1px solid #0e8ec7;
}
@media (min-width: 660px) {
	.formfeedback__form input {
		margin-bottom: 24px;
	}
}
.formfeedback__form-radiobtn {
	display: none;
}
@media (min-width: 660px) {
	.formfeedback__form-radiobtn {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}
.formfeedback__form-radiobtn__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 145%;
	color: #485b63;
}
.formfeedback__form-radiobtn__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 24px;
	margin-bottom: 20px;
}
.formfeedback__form-radiobtn__wrapper label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: 500;
	font-size: 16px;
	line-height: 145%;
	color: #485b63;
}
.formfeedback__form-radiobtn__wrapper label input[type='radio'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0;
	width: 20px;
	height: 20px;
	border: 1px solid #ccd1d4;
	border-radius: 2px;
	margin-right: 8px;
	margin-bottom: 0;
}
.formfeedback__form-radiobtn__wrapper label input[type='radio']:checked {
	border: 1px solid #ccd1d4;
	border-radius: 2px;
	position: relative;
}
.formfeedback__form-radiobtn__wrapper label input[type='radio']:checked:after {
	position: absolute;
	content: url('../images/icons/choice-icon.svg');
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.formfeedback__form-send {
	margin-top: 12px;
	padding-top: 20px;
	border-top: 1px solid #dddddd;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}
@media (min-width: 660px) {
	.formfeedback__form-send {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
.formfeedback__form-send__btn {
	text-align: center;
	margin-bottom: 16px;
}
@media (min-width: 660px) {
	.formfeedback__form-send__btn {
		max-width: 220px;
		margin-bottom: 0;
	}
}
.formfeedback__form-send__text {
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 145%;
	color: #7f9097;
}
@media (min-width: 660px) {
	.formfeedback__form-send__text {
		text-align: left;
	}
}
.formfeedback__form-send__text a {
	color: #54b7e3;
}
.formfeedback .valid input {
	background-image: url('../images/pictures/check-valid.png');
	background-repeat: no-repeat;
	background-position: right 10px center;
	padding-right: 45px;
}
@media (min-width: 425px) {
	.formfeedback .valid input {
		background-position: right 26px center;
		padding-right: 60px;
	}
}
.formfeedback .invalid {
	position: relative;
}
.formfeedback .invalid:after {
	position: absolute;
	content: 'Обязательно для заполнения';
	white-space: nowrap;
	top: 50px;
	font-weight: 400;
	font-size: 14px;
	line-height: 130%;
	color: #d13939;
}
.formfeedback .invalid input {
	background-image: url('../images/pictures/check-invalid.png');
	background-repeat: no-repeat;
	background-position: right 10px center;
	padding-right: 45px;
	margin-bottom: 52px;
	border: 1px solid #d13939;
}
@media (min-width: 425px) {
	.formfeedback .invalid input {
		background-position: right 26px center;
		padding-right: 60px;
	}
}

.newarticles__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 125%;
	margin-bottom: 32px;
}
@media (min-width: 768px) {
	.newarticles__title {
		font-weight: 700;
		font-size: 48px;
		line-height: 135%;
		margin-bottom: 38px;
	}
}
@media (min-width: 1024px) {
	.newarticles__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding-bottom: 12px;
		border-bottom: 1px solid #dddddd;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding-bottom: 40px;
	}
}
.newarticles__firstarticle {
	max-width: 770px;
}
@media (min-width: 1200px) {
	.newarticles__firstarticle {
		padding-right: 40px;
		border-right: 1px solid #dddddd;
	}
}
.newarticles__firstarticle-img {
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
}
.newarticles__firstarticle-title {
	font-weight: 600;
	font-size: 22px;
	line-height: 130%;
	font-weight: 700;
	line-height: 125%;
	margin-top: 16px;
	margin-bottom: 16px;
}
@media (min-width: 1024px) {
	.newarticles__firstarticle-title {
		font-weight: 600;
		font-size: 36px;
		line-height: 130%;
		margin-bottom: 36px;
	}
}
.newarticles__firstarticle-info {
	position: relative;
	margin-bottom: 24px;
}
@media (min-width: 375px) {
	.newarticles__firstarticle-info {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-column-gap: 8px;
		-moz-column-gap: 8px;
		column-gap: 8px;
	}
}
@media (min-width: 1024px) {
	.newarticles__firstarticle-info {
		-webkit-column-gap: 16px;
		-moz-column-gap: 16px;
		column-gap: 16px;
		margin-bottom: 0;
	}
}
.newarticles__firstarticle-info .banner__articles-author {
	-webkit-column-gap: 8px;
	-moz-column-gap: 8px;
	column-gap: 8px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: start;
}
@media (min-width: 375px) {
	.newarticles__firstarticle-info .banner__articles-author {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
@media (min-width: 1024px) {
	.newarticles__firstarticle-info .banner__articles-author {
		-webkit-column-gap: 14px;
		-moz-column-gap: 14px;
		column-gap: 14px;
	}
}
.newarticles__firstarticle-info .banner__articles-info {
	-webkit-column-gap: 8px;
	-moz-column-gap: 8px;
	column-gap: 8px;
	margin-bottom: 0;
	position: absolute;
	top: 24px;
	left: 48px;
}
@media (min-width: 375px) {
	.newarticles__firstarticle-info .banner__articles-info {
		position: static;
	}
}
.newarticles__secondarticle-wrapper {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
@media (min-width: 768px) {
	.newarticles__secondarticle-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-column-gap: 16px;
		-moz-column-gap: 16px;
		column-gap: 16px;
	}
}
@media (min-width: 1024px) {
	.newarticles__secondarticle-wrapper {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 0;
		padding-left: 40px;
		border: none;
		gap: 0;
	}
}
.newarticles__secondarticle-item {
	padding-top: 33px;
	padding-bottom: 32px;
}
@media (min-width: 768px) {
	.newarticles__secondarticle-item {
		width: 48%;
	}
}
@media (min-width: 1024px) {
	.newarticles__secondarticle-item {
		width: 100%;
		padding-top: 28px;
		padding-bottom: 28px;
	}
	.newarticles__secondarticle-item:first-child {
		padding-top: 0;
	}
	.newarticles__secondarticle-item:last-child {
		padding-bottom: 0;
	}
}
.newarticles__secondarticle-item:last-child {
	display: none;
}
@media (min-width: 768px) {
	.newarticles__secondarticle-item:last-child {
		display: block;
	}
}
.newarticles__secondarticle-item:not(:first-child) {
	border-top: 1px solid #dddddd;
}
@media (min-width: 768px) {
	.newarticles__secondarticle-item:nth-child(2) {
		border-top: none;
	}
}
@media (min-width: 1024px) {
	.newarticles__secondarticle-item:nth-child(2) {
		border-top: 1px solid #dddddd;
	}
}
.newarticles__secondarticle-item-title {
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	font-weight: 500;
	margin-bottom: 16px;
}
@media (min-width: 1024px) {
	.newarticles__secondarticle-item-title {
		font-weight: 500;
		font-size: 24px;
		line-height: 130%;
	}
}
.newarticles__secondarticle-item-info {
	position: relative;
}
@media (min-width: 375px) {
	.newarticles__secondarticle-item-info {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-column-gap: 8px;
		-moz-column-gap: 8px;
		column-gap: 8px;
	}
}
@media (min-width: 1024px) {
	.newarticles__secondarticle-item-info {
		-webkit-column-gap: 16px;
		-moz-column-gap: 16px;
		column-gap: 16px;
	}
}
.newarticles__secondarticle-item-info .banner__articles-author {
	-webkit-column-gap: 8px;
	-moz-column-gap: 8px;
	column-gap: 8px;
}
.newarticles__secondarticle-item-info .banner__articles-author .author__avatar {
	display: none;
}
@media (min-width: 425px) {
	.newarticles__secondarticle-item-info .banner__articles-author .author__avatar {
		display: block;
		width: 34px;
		height: 34px;
	}
}
@media (min-width: 1024px) {
	.newarticles__secondarticle-item-info .banner__articles-author {
		position: static;
	}
}
@media (min-width: 1024px) {
	.newarticles__secondarticle-item-info .banner__articles-author {
		-webkit-column-gap: 14px;
		-moz-column-gap: 14px;
		column-gap: 14px;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
	}
}
@media (min-width: 1200px) {
	.newarticles__secondarticle-item-info .banner__articles-author {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
.newarticles__secondarticle-item-info .banner__articles-info {
	-webkit-column-gap: 8px;
	-moz-column-gap: 8px;
	column-gap: 8px;
	margin-bottom: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
@media (min-width: 1024px) {
	.newarticles__secondarticle-item-info .banner__articles-info {
		margin-left: 0;
	}
}
@media (min-width: 1024px) {
	.newarticles__secondarticle-item-info .banner__articles-info {
		position: absolute;
		left: 48px;
		top: 18px;
	}
}
@media (min-width: 1200px) {
	.newarticles__secondarticle-item-info .banner__articles-info {
		position: static;
	}
}

.categoryofarticles__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 125%;
}
@media (min-width: 768px) {
	.categoryofarticles__title {
		font-weight: 700;
		font-size: 48px;
		line-height: 135%;
	}
}
.categoryofarticles__tabs {
	margin-top: 32px;
	margin-bottom: 32px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 18px;
	-moz-column-gap: 18px;
	column-gap: 18px;
	overflow-x: scroll;
}
.categoryofarticles__tabs::-webkit-scrollbar {
	height: 0;
}
.categoryofarticles__tabs-item {
	white-space: nowrap;
	padding: 14px 20px;
	background-color: #f8f8f8;
	border-radius: 5px;
	font-weight: 400;
	font-size: 16px;
	line-height: 145%;
}
.categoryofarticles__tabs-item.active {
	background-color: #54b7e3;
	color: #fcfdff;
}
.categoryofarticles__articles {
	row-gap: 32px;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 32px;
	margin-bottom: 24px;
}
.categoryofarticles__articles-item__img {
	border-radius: 10px;
	overflow: hidden;
}
.categoryofarticles__articles-item__img img {
	width: 100%;
}
.categoryofarticles__articles-item__title {
	margin-top: 20px;
	margin-bottom: 16px;
	font-weight: 600;
	font-size: 22px;
	line-height: 130%;
	font-weight: 700;
	line-height: 125%;
}
@media (min-width: 768px) {
	.categoryofarticles__articles-item__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 130%;
	}
}
.categoryofarticles__articles-item__info {
	position: relative;
}
@media (min-width: 370px) {
	.categoryofarticles__articles-item__info {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		gap: 8px;
	}
}
.categoryofarticles__articles-item__info .banner__articles-author {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 8px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: start;
}
@media (min-width: 370px) {
	.categoryofarticles__articles-item__info .banner__articles-author {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
@media (min-width: 600px) {
	.categoryofarticles__articles-item__info .banner__articles-author {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
	}
}
@media (min-width: 768px) {
	.categoryofarticles__articles-item__info .banner__articles-author {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
@media (min-width: 1024px) {
	.categoryofarticles__articles-item__info .banner__articles-author {
		position: static;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
	}
}
@media (min-width: 1190px) {
	.categoryofarticles__articles-item__info .banner__articles-author {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
.categoryofarticles__articles-item__info .banner__articles-info {
	margin-bottom: 0;
	gap: 8px;
	position: absolute;
	left: 48px;
	top: 22px;
}
@media (min-width: 370px) {
	.categoryofarticles__articles-item__info .banner__articles-info {
		position: static;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
@media (min-width: 600px) {
	.categoryofarticles__articles-item__info .banner__articles-info {
		position: absolute;
	}
}
@media (min-width: 768px) {
	.categoryofarticles__articles-item__info .banner__articles-info {
		position: static;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
@media (min-width: 1024px) {
	.categoryofarticles__articles-item__info .banner__articles-info {
		position: absolute;
		margin-left: 0;
		top: 22px;
	}
}
@media (min-width: 1190px) {
	.categoryofarticles__articles-item__info .banner__articles-info {
		position: static;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
.categoryofarticles__pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.categoryofarticles__pagination button,
.categoryofarticles__pagination a {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #f3f6f9;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
@media (min-width: 768px) {
	.categoryofarticles__pagination button {
		display: none;
	}
}
.categoryofarticles__pagination-points {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 8px;
	-moz-column-gap: 8px;
	column-gap: 8px;
}
.categoryofarticles__pagination-points a {
	font-weight: 400;
	font-size: 16px;
	line-height: 145%;
	background-color: transparent;
}
.categoryofarticles__pagination-points a:not(:nth-child(-n + 5)) {
	display: none;
}
@media (min-width: 768px) {
	.categoryofarticles__pagination-points a:not(:nth-child(-n + 5)) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}
.categoryofarticles__pagination-points a:hover {
	background-color: #f3f6f9;
}
.categoryofarticles__pagination-points a.active {
	background-color: #54b7e3;
	color: #fcfdff;
}
.categoryofarticles__pagination-points span {
	display: none;
}
@media (min-width: 768px) {
	.categoryofarticles__pagination-points span {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
